<DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Me</title>
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <h1> <%= text  %></h1>
    <p>I'm Nicole, a Year Up student and current Technical Program Manager intern at Providence Health & Services. At internship, I prioritize the needs of key stakeholders across the org by running requirements gathering meetings and ensuring that backlogs are refined using Azure DevOps. In addition, I lead cross-functional project teams towards targeted and scheduled outcomes.</p> 
    
    <p> Before moving to Washington, I was living on my island home Maui, Hawaii. There you could find me hiking, spending the day at the beach, or hitting the gym. Other days I enjoy spending quality time with friends and family.</p>

    <p>Coming to the maindland has provided me with so many amazing opportunities in tech. As I continue to build my professional brand, my career aspiration is to drive a culture of accessibility in tech and truly uplift the disabled community in every way possible.</p>

    <br>
  <a href="./">Return to Homepage</a>

</body>
</html>